.settings {    
    display: flex;
    right: 0;
    top: 30;      
    position: absolute; 
    z-index: 1;
    height: 100vh;    
    
    .icon {
        justify-content: flex-end;
        top: 50%;
        width: 30px;
        height: 30px;
        border-radius: 10px;
        background-color: rgb(9, 102, 224);
        color: white;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    }   
}

.settingsMenu {

   width: 95%;
   margin: auto;
   font-family: sans-serif;

    .settingsHeader {                 
        display: flex;
        color: gray; 
        align-items: center;
        justify-content: space-between; 
        font-size: 24px;   
        margin-top: 20px;     
        
        .headerIcons {                    
            display: flex;   

            .links { 
              height: 20px;
              width: 20px;
              margin: 5px; 
              cursor: pointer;      
            }
        }
        
    }
}

